<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
     <Properties>
        <Property name="basePath">jboss.server.base.dir</Property>
    </Properties>
    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>>
            </PatternLayout>
        </Console>
        <File  name="File-Appender" fileName="${basePath}/log/olimpo.log" >
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger  name="cl.bilix.xps.controller" level="debug">
            <AppenderRef ref="File-Appender"/>8
        </Logger>
        <Root level="debug">
            <AppenderRef ref="Console-Appender"/>
            <AppenderRef ref="File-Appender"/>
        </Root>
    </Loggers>
</Configuration>