<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="cl.bilix.xps.persistence.mapper.utils.ClienteMapper">

	
	<resultMap id="clienteResult"					type="ClienteVO">
		<result column="CTE_ID"     				property="idCTE"  		/>
		<result column="CTE_NOMBRE"  				property="nombreCTE"  	/>
	</resultMap>
	
	
	<select id="findClientes" parameterType="ClienteVO" resultMap="clienteResult"  >
		Select	CTE_ID,
				CTE_NOMBRE
		FROM	CLIENTE
		WHERE 1=1 
		<if test="nombreCTE != null">and "CTE_NOMBRE" LIKE '%#{nombreCTE,jdbcType="VARCHAR"}%'</if>
	</select>
	
	<select id="getCliente" parameterType="ClienteVO" resultMap="clienteResult"  >
		Select	CTE_ID,
				CTE_NOMBRE
		FROM	CLIENTE
		WHERE CTE_ID = #{idCTE,jdbcType=NUMERIC}
		<if test="5 > 5">AND CTE_NOMBRE LIKE '%ABC%'</if>
		LIMIT 1
	</select>

	<insert id="insertCliente"   parameterType="ClienteVO">
		Insert into CLIENTE(
			CTE_NOMBRE)
		values (
			#{nombreCTE,jdbcType=VARCHAR}
		)

	        <selectKey keyProperty="idCTE" resultType="long" order="AFTER">
	            SELECT last_value AS idCTE FROM public.XPS_NEG_CLIENTE_CTE_ID_seq;
	        </selectKey>
	</insert>
	
	<update id="updateCliente" parameterType="ClienteVO">
			UPDATE CLIENTE
			SET	
				CTE_NOMBRE			= #{nombreCTE,jdbcType=VARCHAR}
			WHERE CTE_ID = #{idCTE,jdbcType=NUMERIC}
	</update>
	
	<delete id="deleteCliente" parameterType="long">
		DELETE FROM CLIENTE
		WHERE CTE_ID = #{idCTE,jdbcType=NUMERIC}
	</delete>
	
	</mapper>